/*==============================*/
/* GENERAL                      */
/*==============================*/

body {
  background: #FFF;
  padding: 20px;
}

h2
{
  padding-bottom: 20px;
}

/*==============================*/
/* UPLOAD                       */
/*==============================*/

#imagebrowser-upload fieldset{
  width: 500px;
  margin: 0px;
  padding: 0 12px;
}

#imagebrowser-upload label {
  float: left;
  width: 50px;
  height: 30px;
  margin-left: 10px;
  display: block;
}

#imagebrowser-upload #edit-imagefile-wrapper {
  float: left;
  width: 420px;
  display: block;
}

#imagebrowser-upload #edit-0 {
  float: left;
  display: block;
  margin: 14px 0 0 10px;
}

/*==============================*/
/* BROWSE                       */
/*==============================*/

#browse {
  width: 500px;
}

#browse .browse ul.images {
  width: 472px;
  height: 236px;
  overflow: auto;
  margin: 13px;
  border: 1px solid #D9EAF5;
}

#browse .browse ul.images li.last
{
  clear: both;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  float: none;
}

#browse .browse ul.images, #browse .browse ul.images li {
  list-style: none;
  background: none;
  padding: 0;
  text-align: center;
}

#browse .browse ul.images li a {
  line-height: 100px;
}

#browse .browse ul.images li
{
  width: 102px;
  height: 102px;
  margin: 2px;
  padding: 5px;
  display: block;
  float: left;
  border: 1px solid transparent;
}

#browse .browse ul.images li.message
{
  width: 458px;
  height: 212px;
  margin: 2px;
  padding: 5px;
  text-align: center;
  line-height: 212px;
  display: block;
  float: left;
  border: 0;
}

#browse .browse ul.images li a img {
  border: 1px solid #555;
  vertical-align: middle;
}

#browse .browse ul.pager li {
  padding: 0;
}

#browse .browse ul.pager li.pager-current {
  background: #5895BE;
  padding: 2px 5px;
  border: 1px solid #437496;
  color: #FFF;
}

#browse .browse ul.pager li a:link, #browse .browse ul.pager li a:visited {
  background: #EDF4FA;
  padding: 2px 5px;
  border: 1px solid #D9EAF5;
}

#browse .browse ul.pager li a:hover, #browse .browse ul.pager li a:active {
  background: #D9EAF5;
  padding: 2px 5px;
  border: 1px solid #5895BE;
  text-decoration: none;
}

#browse .selectors {
  text-align: left;
}

#browse .selectors label {
  margin-left: 20px;
}

/*==============================*/
/* INSERT                       */
/*==============================*/

#insert {
  width: 500px;
  margin-bottom: 0;
}

#insert .preview {
  background: none;
  border: 1px solid #D9EAF5;
  padding: 0;
  margin: 0;
}

#insert .preview .image {
  width: 100px;
  height: 100px;
  padding: 5px;
  float: right;
  display: block;
  line-height: 100px;
  border-left: 1px solid #D9EAF5;
  background: #FFF;
  text-align: center;
}

#insert .preview .image img {
  vertical-align: middle;
}

#insert .preview .with-thumbnail {
  margin-right: 150px;
}

#insert .preview dl {
  width: 300px;
  padding: 0;
  margin: 17px 10px 17px 17px;
  line-height: 1.3em;
  font-size: 1em;
}

#insert .preview dl dt {
  float: left;
  width: 80px;
  font-weight: bold;
  clear: left;
}

#insert .preview .clear {
  clear: both;
  height: 10px;
}

#insert .with-thumbnail .clear {
  height: 0!important;
}

#insert table tr th.name {
  width: 200px;
}

#insert table tr th.dimensions {
  width: 100px;
}

#insert table tr th.actions {
  width: 70px;
}

#insert .preview dl dd {
  float: left;
}

#insert .preview .presets {
  clear: both;
}

/*==============================*/
/* MESSAGES                     */
/*==============================*/

.messages {
  margin: 0 0 12px 0;
  width: 500px;
}

.error {
  padding: 5px 12px!important;
}